.login-page-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    form {
      box-shadow: 0px 0px 7px 7px rgba(0, 0, 0, 0.13);
      overflow: hidden;
      z-index: 1;
      position: relative;
    }

    .social-login {
      display: flex;
      justify-content: center;
      margin-top: 15px;
    }
    
    .form-controls-wrapper {
      padding: 40px;
      width: 250px;
      background-color: rgba(254, 254, 254, 0.3);
    
    }
    
    .login-header {
      margin-bottom: 25px;  
    }
    .form-error-wrapper {
      margin-bottom: 20px;
    }
    
  }

  
  