<ng-container *ngIf="{
    loginInProgress: loginInProgress$ | async,
    error: error$ | async
  } as data">

  <div class="login-page-wrapper">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="social-login">
        <asl-google-signin-button type='standard'></asl-google-signin-button>
      </div>
      <div class="form-controls-wrapper">
        <header class="login-header">User login</header>

        <mat-form-field appearance="outline" class="form-element-wrapper">
          <mat-label>Email ID</mat-label>
          <input type="text" appAutoFocus formControlName="username" required matInput
            placeholder="Email Id">
        </mat-form-field>
        
        <div *ngIf="username?.invalid && (username?.dirty || username?.touched)" class="form-error-wrapper">
          <mat-error *ngIf="username?.errors!['required']">Email is required</mat-error>
          <mat-error *ngIf="username?.errors!['email']">Email is in invalid</mat-error>
        </div>

        <mat-form-field appearance="outline" class="form-element-wrapper">
          <mat-label>Password</mat-label>
          <input type="password" formControlName="password" required matInput
            placeholder="Please enter password">
        </mat-form-field>

        <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="form-error-wrapper">
          <mat-error *ngIf="password?.errors!['required']">Password is required</mat-error>
          <mat-error *ngIf="password?.errors!['minlength']">Password min length should be 8</mat-error>
        </div>

        <div>
          <button id="login-btn" mat-flat-button color="primary" type="submit"
            [disabled]="!loginForm.valid || data.loginInProgress">
            <span class="login-btn-content">
              <span *ngIf="!data.loginInProgress">Login</span>
              <mat-spinner *ngIf="data.loginInProgress" color="primary" diameter="25"></mat-spinner>
            </span>
          </button>
        </div>

        <div *ngIf="data.error">
          <div class="error-message" *ngIf="data.error.status === 401">
            Error....
          </div>
        </div>
      </div>
    </form>
  </div>
</ng-container>