<ng-container 
*ngIf="{
    user: userData$ | async
  } as data" 
>
    <mat-toolbar color="primary">
        <a mat-button routerLink="/dashboard"> Dashboard</a>
        <a mat-button routerLink="/userlist">Users </a>
    
        <a mat-button class="right" [matMenuTriggerFor]="dropdown"> 
            {{data?.user?.firstName}}
        </a>

        <mat-menu #dropdown>    
            <button mat-menu-item (click)="onLogout()">Logout</button>
        </mat-menu>
    </mat-toolbar>

</ng-container>
