<div class="wrapper">
  <div mat-dialog-content >
  <p>User login is waiting for login API till then please try Google login</p>
</div>
<div mat-dialog-actions style="background: inherit;">
  <button mat-raised-button mat-dialog-close (click)="onCancel()">Ok</button>
</div>
</div>
